/* sections */
/* header */
.header {
  background-color: var(--blue-light-primary);

  /* fixed height in order to make it sticky */
  height: 9.6rem;

  padding: 0 4.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.logo {
  font-size: 3rem;
  font-weight: 450;
  text-transform: lowercase;
}

.logo span {
  color: var(--coral-primary);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--black-primary);
  font-weight: 600;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--coral-darker);
}

.nav-link.cta-link:link,
.nav-link.cta-link:visited {
  background-color: var(--coral-primary);
  color: var(--beige-primary);
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.nav-link.cta-link:hover,
.nav-link.cta-link:active {
  background-color: var(--coral-secondary);
}

/* mobile nav */
.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* hero */
.section-hero {
  background-color: var(--blue-light-primary);
  padding: 4.8rem 0 8rem 0;
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-heading {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: -0.7px;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  color: var(--coral-primary);
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-users-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.hero-users-box p {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
}

.hero-users-box span {
  color: var(--coral-darker);
}

.hero-users-img {
  display: flex;
}

.hero-users-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--blue-light-primary);
}
.hero-users-img img:last-child {
  margin-right: 0;
}

.hero-img {
  width: 100%;
}

/* section FEATURED */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
  color: var(--grey-primary);
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* section HOW IT WORKS*/
.section-how {
  padding: 9.6rem 0;
}

.how-box {
  margin-bottom: 9.6rem;
}

.how-box-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.how-box-text h3 {
  color: var(--coral-primary);
}

.how-step-number {
  font-size: 8.6rem;
  line-height: 8.6rem;
  font-weight: 600;
  color: var(--blue-light-secondary);
  margin-bottom: 1.5rem;
}

.how-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-img {
  width: 70%;
}

/* section SAMPLE-SESSIONS */
.section-sessions {
  padding: 9.6rem 0;
  background-color: white;
}

.session-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.4s;
}

.session-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.session-img {
  width: 100%;
}

.session-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 500;
  color: white;
}

.tag-color-1 {
  background: var(--gradient-1);
}

.tag-color-2 {
  background: var(--gradient-2);
}

.tag-color-3 {
  background: var(--gradient-3);
}

.tag-color-4 {
  background: var(--gradient-4);
}

.session-content-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.session-content-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.session-content-attributes li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--grey-primary);
}

.session-content-attributes li p {
  line-height: 2.4rem;
}

.attribute-icon {
  height: 2.4rem;
  width: 2.4rem;
}

ion-icon {
  font-size: 2.4rem;
}

.trainings-card h3 {
  color: var(--coral-primary);
}

.icon-checkmark {
  font-size: 3rem;
  --ionicon-stroke-width: 7rem;
}

.sessions-link-box {
  text-align: center;
  font-size: 1.8rem;
}

/* section TESTIMONIALS */
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-header-block {
  padding: 9.6rem;
}

.box-testimonials {
  padding-top: 2.4rem;
  display: grid;
  row-gap: 4.8rem;
  column-gap: 8rem;
  grid-template-columns: 1fr 1fr;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  border: 0.7rem solid var(--coral-primary);
  margin-bottom: 1.2rem;
}

.testimonial-quote {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--grey-primary);
}

.box-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  padding: 1.6rem;
}

.test-gallery-item {
  overflow: hidden;
}

.test-gallery-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.test-gallery-img:hover {
  transform: scale(1.1);
}

/* section PRICING */
.section-pricing {
  padding: 9.6rem 0;
  background-color: white;
}

.pricing-plan-card {
  border-radius: 1.1rem;
  width: 75%;
}

.plan--1 {
  justify-self: end;
  border: 0.2rem solid var(--blue-light-primary);
  /* different vs plan 2 due to boarder effect */
  padding: 4.6rem;
}

.plan--2 {
  background-color: var(--blue-light-primary);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.plan--2::after {
  content: 'Best value';
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  background: var(--gradient-2);
  color: white;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-title {
  color: var(--coral-darker);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.plan-price-number {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price-number span {
  font-size: 3rem;
  font-weight: 400;
  margin-right: 0.5rem !important;
}

.plan-price-text {
  color: var(--grey-primary);
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-button {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  color: var(--grey-primary);
}

/* Features block */
.icon-features {
  font-size: 3.2rem;
  --ionicon-stroke-width: 3rem;
  color: var(--coral-primary);
  margin-bottom: 3.2rem;
  background-color: var(--blue-light-primary);
  border-radius: 50%;
  padding: 1rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.feature-description {
  font-size: 1.4rem;
  line-height: 1.4;
}

/* CTA section */
.section-cta {
  background-color: white;
  padding: 4.8rem 0 12.8rem;
}
.cta-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: var(--gradient-5);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta-box *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(89, 105, 120, 0.4);
}

.cta-imagebox {
  background-image: linear-gradient(
      to top,
      rgba(167, 200, 237, 0.3),
      hsla(212, 91%, 86%, 0.3)
    ),
    url('../img/cta-img.jpg');
  background-size: cover;
  background-position: bottom;
}

.cta-textbox {
  color: #21282f;
  padding: 4.2rem 6.4rem 6.4rem 6.4rem;
}

.cta-title {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--blue-super-light);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form select::placeholder {
  color: var(--grey-super-light);
}

.btn-form {
  background-color: #546477;
  color: var(--blue-super-light);
  align-self: end;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
}

.btn-form:hover {
  background-color: #43505f;
}

.btn-form:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 242, 255, 0.8);
}

/* FOOTER */
.footer {
  padding: 12.8rem 0;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col,
.contact-col {
  display: flex;
  flex-direction: column;
}

.phone {
  margin-top: auto;
}

.footer-logo,
.footer-header {
  margin-bottom: 4rem;
}

.footer-logo {
  display: block;
}

.footer-header {
  height: 30px;
  padding: 6px 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-darker);
}

.footer-main {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.social-links {
  display: flex;
  gap: 2.4rem;
}

.social-links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--grey-primary);
  margin-top: auto;
}

.footer-nav {
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: var(--grey-primary);
}

.footer-link:hover,
.footer-link:active {
  color: var(--grey-darker);
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

  /* setting fixed hight (for JS to work) */
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.sticky .section-hero {
  margin-top: 8rem;
}
