/* sections */
/* header */
.header {
  background-color: var(--blue-light-primary);

  /* fixed height in order to make it sticky */
  height: 9.6rem;

  padding: 0 4.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 450;
  text-transform: lowercase;
}

.logo span {
  color: var(--coral-primary);
}

/* .main-nav {
} */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--black-primary);
  font-weight: 600;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--coral-darker);
}

.nav-link.cta-link:link,
.nav-link.cta-link:visited {
  background-color: var(--coral-primary);
  color: var(--beige-primary);
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.nav-link.cta-link:hover,
.nav-link.cta-link:active {
  background-color: var(--coral-secondary);
}

/* hero */
.section-hero {
  background-color: var(--blue-light-primary);
  padding: 4.8rem 0 8rem 0;
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  padding: 0 3.2rem;
}

/* .hero-text-box {
   padding: 0 3.2rem; 
} */

.hero-heading {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: -0.7px;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  color: var(--coral-primary);
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-users-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.hero-users-box p {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-users-box span {
  color: var(--coral-darker);
}

.hero-users-img {
  display: flex;
}

.hero-users-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--blue-light-primary);
}
.hero-users-img img:last-child {
  margin-right: 0;
}

.hero-img {
  width: 100%;
}

/* section FEATURED */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
  color: var(--grey-primary);
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* section HOW IT WORKS*/
.section-how {
  padding: 9.6rem 0;
}

.how-box {
  margin-bottom: 9.6rem;
}

.how-box-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.how-box-text h3 {
  color: var(--coral-primary);
}

.how-step-number {
  font-size: 8.6rem;
  line-height: 8.6rem;
  font-weight: 600;
  color: var(--blue-light-secondary);
  margin-bottom: 1.5rem;
}

.how-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-img {
  width: 70%;
}

/* section SAMPLE-SESSIONS */
.section-sessions {
  padding: 9.6rem 0;
  background-color: white;
}

.session-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.4s;
}

.session-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.session-img {
  width: 100%;
}

.session-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 500;
  color: white;
}

.tag-color-1 {
  background: var(--gradient-1);
}

.tag-color-2 {
  background: var(--gradient-2);
}

.tag-color-3 {
  background: var(--gradient-3);
}

.tag-color-4 {
  background: var(--gradient-4);
}

.session-content-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.session-content-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.session-content-attributes li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--grey-primary);
}

.session-content-attributes li p {
  line-height: 2.4rem;
}

.attribute-icon {
  height: 2.4rem;
  width: 2.4rem;
}

ion-icon {
  font-size: 2.4rem;
}

.trainings-card h3 {
  color: var(--coral-primary);
}

.trainings-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.trainings-list li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-checkmark {
  font-size: 3rem;
  --ionicon-stroke-width: 7rem;
}

.sessions-link-box {
  text-align: center;
  font-size: 1.8rem;
}

/* section TESTIMONIALS */
.section-testimonials {
  padding: 9.6rem 0;
}
.box-testimonials {
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 1fr 1fr;
}

.testimonial {
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-quote {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--grey-primary);
}

.box-gallery {
}
